<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Porπ</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br><br><b>WPISZ MIEJSCOWOŚĆ W PASKU WYSZUKIWANIA, ABY UZYSKAĆ NAJNOWSZE DOSTĘPNE WYNIKI POMIARÓW POWIETRZA</b><br><br>
    <img src='https://old.ug.edu.pl/sites/default/files/styles/zdjecie_osoby/public/_nodes/pracownik/93122/images/piotr_porzuczek.jpg?itok=j2olsLEa' style="width:auto;">
</div>
{% endblock %}
</body>
</html>